.dropdown {
  background-color: rgb(221, 243, 242);
  border: 2px solid rgb(219, 221, 224);
  border-radius: 20px;
  width: fit-content;
}
.dropdown select:hover {
  cursor: pointer;
}
.dropdown select {
  font-size: 1rem;
  font-weight: normal;
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: transparent;
}
.dropdown select:focus {
  outline: none;
}
